.App {
    background: var(--color-black);
    display: flex;
    flex-direction: column;
}

.App-header {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

#root {
    background: var(--color-black);
    display: flex;
}

#left {
    max-width: 250px;
    flex: 1;
}
#right {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(47, 47, 47), var(--color-black-lighter) 55%);
}
.container {
    max-width: 1500px;
    margin: auto;
}
/* MAIN AREA */
#mainArea {
    position: relative;
    overflow: auto;
    /* height: 100%; */
    flex: 1;
    padding: 30px;
}

.main-header {
    height: 250px;
    overflow: hidden;
    position: relative;
}

.main-header__background {
    background-size: cover;
    background-position: bottom;
    filter: blur(150px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/**/

@media screen and (max-width: 1500px) {
    .album {
        width: calc(25% - var(--album-margin));
    }
}

@media screen and (max-width: 1200px) {
    .album {
        width: calc(33.333% - var(--album-margin));
    }
}
@media screen and (max-width: 840px) {
    .album {
        width: calc(50% - var(--album-margin));
    }
}
